<ion-header>

  <ion-navbar>
    <ion-title text-center>
      <font class="m-color-white">Join as Teacher</font>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- Gray area -->
  <div padding text-center class="m-background-2b3137 m-margin-top0 m-color-white">

    <ion-grid>

      <!-- Title -->
      <ion-row text-center>
        <ion-col col-12>
          <font class="m-color-white m-font-size-35px m-font-weight-300">Become a next-generation teacher</font>
        </ion-col>
      </ion-row>

      <!-- Subtitle -->
      <ion-row>
        <ion-col col-12>
          In order to join as teacher you must fill all the following fields. Be specific with your information to gain more good resume
          and comments from students. Remember, good instructor is remembered for lifetime.
        </ion-col>
      </ion-row>

      <!-- Tip -->
      <ion-row>
        <ion-col col-12>
          <font class="m-color-orange">*Tip: </font>
          Give full information at the relevant fields to interest more students.
        </ion-col>
      </ion-row>

      <!-- Price warning -->
      <ion-row>
        <ion-col col-12>
          <font class="m-color-red">*The price per lesson is for one hour*</font>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <!-- White area -->
  <div>

    <ion-grid>

      <!-- StudyHub for individuals title -->
      <ion-row text-center class="m-padding-top-15px m-padding-buttom-15px">
        <ion-col col-12>
          <u>
            <b>Fill teacher form</b>
          </u>
        </ion-col>
      </ion-row>

      <!-- Form -->
      <ion-list>

        <!-- First name and Last name -->
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>First name</ion-label>
              <ion-input type="text" [(ngModel)]="firstName"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>Last name</ion-label>
              <ion-input type="text" [(ngModel)]="lastName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Age and Gender -->
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>Age</ion-label>
              <ion-input type="number" [(ngModel)]="age"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>Gender</ion-label>
              <ion-select [(ngModel)]="gender" interface="popover">
                <ion-option value="Male">Male</ion-option>
                <ion-option value="Female">Female</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Email and Phone -->
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>Phone</ion-label>
              <ion-input type="tel" [(ngModel)]="phone"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Price from and Proce to -->
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>From price</ion-label>
              <ion-input type="number" [(ngModel)]="priceFrom"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>To price
                <font class="m-color-red m-font-size-10px;">Max 200</font>
              </ion-label>
              <ion-input type="number" [(ngModel)]="priceTo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Teach at and Teaches subjects -->
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>Teach at</ion-label>
              <ion-select [(ngModel)]="teachesAt" interface="popover">
                <ion-option value="0">Student's house</ion-option>
                <ion-option value="1">Academic institution</ion-option>
                <ion-option value="2">Both</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label floating>Teaches institutions</ion-label>
              <ion-select [(ngModel)]="teachesInstitutions" multiple="true">
                <ion-option value="0">Holon Institute Of Technology</ion-option>
                <ion-option value="1">Technion</ion-option>
                <ion-option value="2">Tel-Aviv University</ion-option>
                <ion-option value="4">Ben Gurion University</ion-option>
                <ion-option value="8">Hebrew University</ion-option>
                <ion-option value="16">Bar-Ilan University</ion-option>
                <ion-option value="32">Tel-Aviv Jaffa Academic College</ion-option>
                <ion-option value="64">IDC Herzliya</ion-option>
                <ion-option value="128">Ariel University</ion-option>
                <ion-option value="256">Haifa University</ion-option>
                <ion-option value="512">Sapir Academic College</ion-option>
                <ion-option value="1024">ORT Braude Collegeof Engineering</ion-option>
                <ion-option value="2048">The Open University</ion-option>
                <ion-option value="4096">College of Management</ion-option>
                <ion-option value="8192">Achva Academic Campus</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Personal Message -->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Personal message</ion-label>
              <ion-textarea rows="5" type="text" [(ngModel)]="personalMessage"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Get image button -->
        <ion-row>
          <ion-col col-12>
            <input #inputImage type="file" (change)="readImageBase64($event)" accept="image/*" >
          </ion-col>
        </ion-row>

        <!-- Image -->
        <ion-row *ngIf="image != null && image.length > 0" class="animated flash">
          <ion-col col-12>
            <img src="{{image}}">
          </ion-col>
        </ion-row>

        <!-- Image buttons -->
        <ion-row *ngIf="image != null && image.length > 0">
          <ion-col col-6>
            <button ion-button outline block icon-start small color="dark">
              <ion-icon name="ios-bookmark-outline"></ion-icon>
              Save
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button outline block icon-start small color="dark" (click)="clearImage()">
              <ion-icon name="ios-trash-outline"></ion-icon>
              Clear
            </button>
          </ion-col>
        </ion-row>

      </ion-list>

      <!-- Error message -->
      <ion-row *ngIf="showErrorMessage" text-center>
        <ion-col col-12>
          <font class="m-color-red">The fields are not valid.</font>
        </ion-col>
      </ion-row>

      <!-- Send form button -->
      <ion-row>
        <ion-col col-12>
          <button ion-button block (click)="createTeacher();">Make me a teacher</button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>