<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss();">
        <font class="m-color-white">Close</font>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <font class="m-color-white">{{teacher.firstName}} {{teacher.lastName}}</font>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>

    <!-- Image and add recommend button -->
    <ion-row>
      <ion-col col-7 text-left>
        <img class="m-width-150px" src="assets\\imgs\\imageNotFound.jpg" />
      </ion-col>
      <ion-col *ngIf="!isTeacherFavorited" col-5 text-right>
        <button ion-button icon-start small outline color="dark" (click)="addFavorite()">
          <ion-icon name="star"></ion-icon>
          Add favorite
        </button>
      </ion-col>
      <ion-col *ngIf="isTeacherFavorited" col-5 text-right>
        <button ion-button icon-start small outline color="dark" (click)="removeFavorite()">
          <ion-icon name="star"></ion-icon>
          Remove favorite
        </button>
      </ion-col>
    </ion-row>

    <!-- First name and Last name -->
    <ion-row>
      <ion-col col-12>
        <font class="m-font-size-20px">
          <i>{{teacher.firstName}} {{teacher.lastName}}</i>
        </font> -
        <i>{{teacher.gender}}, {{teacher.age}}</i>
      </ion-col>
    </ion-row>

    <!-- Phone -->
    <ion-row>
      <ion-col col-12>
        <b>Phone: </b>
        <i>{{teacher.phone}}</i>
      </ion-col>
    </ion-row>

    <!-- Email -->
    <ion-row>
      <ion-col col-12>
        <b>Email: </b>
        <i>{{teacher.email}}</i>
      </ion-col>
    </ion-row>

    <!-- Prices -->
    <ion-row>
      <ion-col col-12>
        <b>Price: </b>
        <i>{{teacher.priceFrom}} - {{teacher.priceTo}}</i>
        <font class="m-font-size-10px">ILS</font>
      </ion-col>
    </ion-row>

    <!-- Rate -->
    <ion-row>
      <ion-col col-12>
        <b>Rate: </b>
        <i>{{teacher.rate}}</i>
      </ion-col>
    </ion-row>

    <!-- Teaches At -->
    <ion-row>
      <ion-col col-12>
        <b>Teaches at:</b> {{1|teachesAt}}
      </ion-col>
    </ion-row>

    <!-- Teaches Institutions -->
    <ion-row>
      <ion-col col-12>
        <b>Teaches at Institutions:</b>
      </ion-col>
      <ion-col col-12 *ngFor="let subject of teacher.teachesInstitutions">
        - {{subject | teachesInstitutions}}
      </ion-col>
    </ion-row>

    <!-- Message -->
    <ion-row>
      <ion-col col-12>
        <b>Personal message: </b>{{teacher.personalMessage}}
      </ion-col>
    </ion-row>

    <!-- Recommendations Text and Add recommend icon -->
    <ion-row>
      <ion-col col-6 text-left>
        <b>
          <u>Recommendations:</u>
        </b>
      </ion-col>
      <ion-col col-6 text-right *ngIf="!alreadyAddedRecommend && !showRecommendationsBoolean">
        <button ion-button outline icon-start small color="dark" (click)="toggleRecommendations()">
          <ion-icon name="ios-add-outline"></ion-icon>
          Add
        </button>
      </ion-col>
      <ion-col col-6 text-right *ngIf="!alreadyAddedRecommend && showRecommendationsBoolean">
        <button ion-button outline icon-start small color="dark" (click)="toggleRecommendations()">
          <ion-icon name="ios-close-outline"></ion-icon>
          Close
        </button>
      </ion-col>
      <ion-col col-6 text-right *ngIf="alreadyAddedRecommend">
        <ion-icon class="m-font-size-30px" name="md-done-all"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Show recommendation -->
    <div class="animated zoomInDown" *ngIf="showRecommendationsBoolean" text-center>

      <ion-list>

        <!-- Add Recommendations text -->
        <ion-row>
          <ion-col col-12>
            <b>
              <u>Add recommendations:</u>
            </b>
          </ion-col>
        </ion-row>

        <!-- Full name input -->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Full name</ion-label>
              <ion-input type="text" [(ngModel)]="fullName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Email input -->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Rate input -->
        <ion-row>
          <ion-col col-12>
            <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
              nullable="false"></rating>
          </ion-col>
        </ion-row>

        <!-- Message input -->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Message</ion-label>
              <ion-textarea rows="4" type="email" [(ngModel)]="message"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Error message -->
        <ion-row *ngIf="showErrorMessage">
          <ion-col col-12>
            <font class="m-color-red">The fields are not valid.</font>
          </ion-col>
        </ion-row>

        <!-- Add button message -->
        <ion-row>
          <ion-col col-12>
            <button ion-button block outline (click)="addNewRecommend()" icon-start>
              <ion-icon name="add"></ion-icon>Add</button>
          </ion-col>
        </ion-row>

      </ion-list>

    </div>

    <!-- Recommendations List -->
    <ion-row *ngFor="let recommend of teacher.recommendations" class="m-border-bottom-1px-solid-b18b22">
      <ion-col col-12>
        {{recommend.fullName}} - {{recommend.rate}}
      </ion-col>
      <ion-col col-12>
        - {{recommend.message}}
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>