<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss();">
        <font class="m-color-white">Close</font>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <font class="m-color-white">{{teacher.firstName}} {{teacher.lastName}}</font>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- Gray area -->
  <div class="m-background-2b3137 m-margin-top0 m-color-white">

    <ion-grid>

      <!-- Image and add recommend button -->
      <ion-row>
        <ion-col col-6 text-left *ngIf="teacher.image == null">
          <img class="m-default-image-cards-singleteacher" src="assets\\imgs\\imageNotFound.jpg" />
        </ion-col>
        <ion-col col-6 text-left *ngIf="teacher.image != null">
          <img class="m-default-image-cards-singleteacher" src="{{teacher.image}}" />
        </ion-col>
        <ion-col *ngIf="!isTeacherFavorited" col-6 text-right>
          <button ion-button icon-end small outline class="m-color-white m-border-color-white" (click)="addFavorite()">
            Add favorite
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="isTeacherFavorited" col-6 text-right>
          <button ion-button icon-end small outline class="m-color-white m-border-color-white" (click)="removeFavorite()">
            Remove favorite
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <!-- First name and Last name and Gender and Age -->
      <ion-row>
        <ion-col col-12>
          <font class="m-font-size-20px">
            <i>{{teacher.firstName}} {{teacher.lastName}}</i>
          </font> -
          <i>{{teacher.gender | gender}}, {{teacher.age}}</i>
        </ion-col>
      </ion-row>

      <!-- Rate -->
      <ion-row>
        <ion-col col-12>
          <rating class="m-display-inline-block m-margin-top-min15 m-font-size-0" [(ngModel)]="teacher.rate" readOnly="true" max="5"
            emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
          <i>{{teacher.rate}}</i>
          <font *ngIf="teacher.recommendations.length === 1">
            <i>( {{teacher.recommendations.length}} person rated )</i>
          </font>
          <font *ngIf="teacher.recommendations.length !== 1">
            <i>( {{teacher.recommendations.length}} people rated )</i>
          </font>
        </ion-col>
      </ion-row>

      <!-- Prices -->
      <ion-row>
        <ion-col col-12>
          <i class="m-font-size-17px">{{teacher.priceFrom}} - {{teacher.priceTo}}</i>
          <font class="m-font-size-10px">ILS</font>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <!-- White area -->
  <ion-grid padding>

    <!-- Phone -->
    <ion-row>
      <ion-col col-12>
        <b>Phone: </b>
        <i>{{teacher.phone}}</i>
        <ion-icon class="m-padding-left-7px" color="secondary" name="logo-whatsapp" (click)="openWhatsApp()"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Email -->
    <ion-row>
      <ion-col col-12>
        <b>Email: </b>
        <i>{{teacher.email}}</i>
      </ion-col>
    </ion-row>

    <!-- Teaches At -->
    <ion-row>
      <ion-col col-12>
        <b>Teaches at:</b> {{teacher.teachesAt|teachesAt}}
      </ion-col>
    </ion-row>

    <!-- Message -->
    <ion-row>
      <ion-col col-12>
        <b>Personal message: </b>{{teacher.personalMessage}}
      </ion-col>
    </ion-row>

    <!-- Recommendations Text and Add recommend icon -->
    <ion-row>
      <ion-col col-12 text-center *ngIf="!alreadyAddedRecommend && !showRecommendationsBoolean">
        <button ion-button outline icon-start small color="dark" (click)="openRecommendations()">
          <ion-icon name="ios-add-outline"></ion-icon>
          Add recommendation
        </button>
      </ion-col>
      <ion-col col-12 text-center *ngIf="!alreadyAddedRecommend && showRecommendationsBoolean">
        <button ion-button outline icon-start small color="dark" (click)="closeRecommendations()">
          <ion-icon name="ios-close-outline"></ion-icon>
          Close recommendation
        </button>
      </ion-col>
      <ion-col col-6 offset-6 text-right *ngIf="alreadyAddedRecommend">
        <ion-icon class="m-font-size-30px" name="md-done-all"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Show recommendation -->
    <div #addRecommend class="animated bounceInDown" *ngIf="showRecommendationsBoolean" text-center>

      <form class="m-form">

        <!-- Add Recommendations text -->
        <ion-row>
          <ion-col col-12>
            <b>
              <u>Add recommendations:</u>
            </b>
          </ion-col>
        </ion-row>

        <!-- Full name and Email -->
        <ion-row>
          <!-- Full name -->
          <ion-col col-6>
            <mat-form-field class="m-full-width">
              <input type="text" matInput placeholder="Full name" [formControl]="fullNameFormControl" [errorStateMatcher]="matcher">
              <mat-hint>First name and Last name</mat-hint>
              <mat-error *ngIf="fullNameFormControl.hasError('required')">
                Full name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <!-- Email -->
          <ion-col col-6>
            <mat-form-field class="m-full-width">
              <input pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" matInput placeholder="Email" [formControl]="emailFormControl"
                [errorStateMatcher]="matcher">
              <mat-hint>Ex: Email@gmail.com</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address.
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <!-- Rate input -->
        <ion-row>
          <ion-col col-12>
            <rating [(ngModel)]="rate" [ngModelOptions]="{standalone: true}" readOnly="false" max="5" emptyStarIconName="star-outline"
              halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
          </ion-col>
        </ion-row>

        <!-- Message -->
        <ion-row>
          <ion-col col-12>
            <mat-form-field class="m-full-width">
              <textarea matInput maxlength="100" rows="3" placeholder="Message" [formControl]="messageFormControl" [errorStateMatcher]="matcher"></textarea>
              <mat-hint align="start">Please be kind :)</mat-hint>
              <mat-hint align="end">{{messageFormControl.value.length}} / 100</mat-hint>
              <mat-error *ngIf="messageFormControl.hasError('minlength') && !messageFormControl.hasError('required')">
                Minimum number is 1
              </mat-error>
              <mat-error *ngIf="messageFormControl.hasError('maxlength') && !messageFormControl.hasError('required')">
                Maximum number is 100
              </mat-error>
              <mat-error *ngIf="messageFormControl.hasError('required')">
                Write down something.
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <!-- Error message - Fields -->
        <ion-row *ngIf="showErrorMessage" class="animated fadeInDown" text-center>
          <ion-col col-12>
            <font class="m-color-red">Please fill the requested fields.</font>
          </ion-col>
        </ion-row>

        <!-- Add button message -->
        <ion-row>
          <ion-col col-12>
            <button ion-button block outline (click)="addNewRecommend()" icon-start>
              <ion-icon name="add"></ion-icon>Add</button>
          </ion-col>
        </ion-row>

      </form>

    </div>

    <!-- Institutions + Subjects + Recommendations Header-->
    <ion-row>
      <ion-col col-12>
        <ion-segment [(ngModel)]="currentChosenType">
          <ion-segment-button value="1" class="m-font-size-10px-impo">
            Institutions
          </ion-segment-button>
          <ion-segment-button value="2" class="m-font-size-10px-impo">
            Subjects
          </ion-segment-button>
          <ion-segment-button value="3" class="m-font-size-10px-impo">
            Recommendations
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <!-- Institutions + Subjects + Recommendations Content-->
    <div>

      <!-- Institution -->
      <ion-row *ngIf="currentChosenType === '1'">
        <ion-col col-12>
          <ion-list>
            <ul *ngFor="let institution of teacher.teachesInstitutions">
              <li>{{institution | teachesInstitutions}}</li>
            </ul>
          </ion-list>
        </ion-col>
      </ion-row>

      <!-- Subjects -->
      <ion-row *ngIf="currentChosenType === '2'">
        <ion-col col-12>
          <ion-list>
            <ul *ngFor="let subject of teacher.teachesSubjects">
              <li>{{subject | teachesSubjects}}</li>
            </ul>
          </ion-list>
        </ion-col>
      </ion-row>

      <!-- Recommendations -->
      <ion-row *ngIf="currentChosenType === '3'">
        <ion-col col-12>
          <ion-list>
            <ion-row *ngFor="let recommend of teacher.recommendations" class="m-border-bottom-1px-solid-b18b22">
              <ion-col col-12>
                {{recommend.fullName}} - {{recommend.rate}}
              </ion-col>
              <ion-col col-12>
                - {{recommend.message}}
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>

    </div>

  </ion-grid>

</ion-content>