<ion-header>

  <ion-navbar>
    <ion-title text-center>
      <font class="m-color-white">Teacher List</font>
    </ion-title>
    <ion-buttons end icon-only class="m-color-white">
      <div [matMenuTriggerFor]="menu">
        <ion-icon name="md-more"></ion-icon>
      </div>
    </ion-buttons>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sortByTeacherList('Name')">
        <span>Name</span>
      </button>
      <button mat-menu-item (click)="sortByTeacherList('Rate')">
        <span>Rate</span>
      </button>
      <button mat-menu-item (click)="sortByTeacherList('Recommendations')">
          <span>Recommendations</span>
        </button>
      <button mat-menu-item (click)="sortByTeacherList('RecommendationsRate')">
        <span>Recommendations + Rate</span>
      </button>
    </mat-menu>

  </ion-navbar>

</ion-header>

<ion-content>

  <!-- Gray area -->
  <div padding text-center class="m-background-2b3137 m-margin-top0 m-color-white">

    <ion-grid>

      <!-- Title -->
      <ion-row text-center>
        <ion-col col-12>
          <font class="m-color-white m-font-size-25px m-font-weight-300">Teachers that fits to your requirements</font>
        </ion-col>
      </ion-row>

      <!-- Subtitle -->
      <ion-row text-center>
        <ion-col col-12>
          We've searched in our databases to give you the best results of the teachers that suggest themselves. Go and look at them
          and pick one.
        </ion-col>
      </ion-row>

      <!-- Rank and comment text -->
      <ion-row text-center>
        <ion-col col-12>
          <font class="m-color-orange">The power is in your hands, rank and comment to make the community grow and be better.</font>
        </ion-col>
      </ion-row>

      <!-- Click on the card to expant it text -->
      <ion-row text-center>
        <ion-col col-12>
          <font class="m-font-size-15px m-color-white m-opacity-6">
            <font class="m-color-white">*</font> In order to see all the details on the teacher click on the card to expand it
            <font class="m-color-white">*</font>
          </font>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <!-- White area -->
  <div>

    <ion-grid>

      <!-- Search bar -->
      <ion-row>
        <ion-col col-12>
          <ion-toolbar color="m-darker">
            <ion-searchbar [showCancelButton]="false" (ionInput)="onInput($event)" placeholder="Search for teacher name" type="text"
              animated="true" debounce="100">
            </ion-searchbar>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <!-- Teachers wasn't found -->
      <ion-row text-center *ngIf="teachers.length == 0">
        <ion-col col-12>
          <b>Not even single teacher was found, sorry.</b>
        </ion-col>
      </ion-row>

      <!-- List of teachers -->
      <div *ngFor="let teacher of teachers; let i = index;">
        <ion-card (click)="expandTeacherInformation(i);">

          <!-- Image and Favorite -->
          <ion-row>
            <ion-col *ngIf="teacher.image == null" col-10 text-left>
              <img class="m-default-image-cards-teacherlist" src="assets\\imgs\\imageNotFound.jpg" />
            </ion-col>
            <ion-col *ngIf="teacher.image != null" col-10 text-left>
              <img class="m-default-image-cards-teacherlist" src="{{teacher.image}}" />
            </ion-col>
            <ion-col *ngIf="teacher.isTeacherFavorited" col-2 text-right>
              <ion-icon name="ios-bookmark-outline" class="m-font-size-35px"></ion-icon>
            </ion-col>
          </ion-row>

          <!-- Content -->
          <ion-card-content>

            <!-- Name and Age and Gender and Age -->
            <ion-row>
              <ion-col col-12>
                <ion-card-title>
                  <font class="m-font-size-25px">{{teacher.firstName}} {{teacher.lastName}}</font>
                  -
                  <font class="m-font-size-17px">
                    <i>{{teacher.gender | gender}} {{teacher.age}}</i>
                  </font>

                </ion-card-title>
              </ion-col>
            </ion-row>

            <!-- Price -->
            <ion-row>
              <ion-col col-12>
                <b>Price:</b>
                <i>{{teacher.priceFrom}} - {{teacher.priceTo}}</i>
                <font class="m-font-size-10px">ILS</font>
              </ion-col>
            </ion-row>

            <!-- Rate -->
            <ion-row>
              <ion-col col-12>
                <b>Rating:</b>
                <font *ngIf="teacher.recommendations.length === 1">
                  <i>( {{teacher.recommendations.length}} person rated )</i>
                </font>
                <font *ngIf="teacher.recommendations.length !== 1">
                  <i>( {{teacher.recommendations.length}} people rated )</i>
                </font>
                <rating [(ngModel)]="teachers[i].rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                  starIconName="star" nullable="false"></rating>
              </ion-col>
            </ion-row>

            <!-- Message -->
            <ion-row>
              <ion-col col-12>
                <b>Message:</b>
                {{teacher.personalMessage}}
              </ion-col>
            </ion-row>

            <!-- Click to see more details -->
            <ion-row text-center>
              <ion-col col-12>
                <font class="m-color-midnightblue m-font-size-13px">
                  <i>* Click on the card to see more details *</i>
                </font>
              </ion-col>
            </ion-row>

          </ion-card-content>

        </ion-card>
      </div>

    </ion-grid>

  </div>

</ion-content>

