<ion-header>

  <ion-navbar>
    <ion-title text-center>
      <font class="m-color-white">Teacher List</font>
    </ion-title>
    <ion-buttons end icon-only class="m-color-white">
      <div [matMenuTriggerFor]="menu">
        <ion-icon name="md-more"></ion-icon>
      </div>
    </ion-buttons>

    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <span>Sort By</span>
      </button>
      <button mat-menu-item (click)="sortByTeacherList('Name')">
        <span>Name</span>
      </button>
      <button mat-menu-item (click)="sortByTeacherList('Rate')">
        <span>Rate</span>
      </button>
      <button mat-menu-item (click)="sortByTeacherList('Recommendations')">
        <span>Recommendations</span>
      </button>
      <button mat-menu-item (click)="sortByTeacherList('RecommendationsRate')">
        <span>Recommendations + Rate</span>
      </button>
    </mat-menu>

  </ion-navbar>

</ion-header>

<ion-content>

  <!-- Gray area -->
  <div padding text-center class="m-background-2b3137 m-margin-top0 m-color-white">

    <ion-grid>

      <!-- Title -->
      <ion-row text-center>
        <ion-col col-12>
          <font class="m-color-white m-font-size-25px m-font-weight-300">Teachers List</font>
        </ion-col>
      </ion-row>

      <!-- Rank and comment text -->
      <ion-row text-center>
        <ion-col col-12>
          The power is in your hands, rank and comment to make the community grow and be better.
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <!-- White area -->
  <div>

    <!-- Search bar -->
    <ion-row class="m-sticky-search-bar">
      <ion-col col-12 class="m-padding-0-impo">
        <ion-toolbar color="m-darker">
          <ion-searchbar [showCancelButton]="false" (ionInput)="onInput($event)" placeholder="Search for teacher name" type="text"
            animated="true" debounce="100">
          </ion-searchbar>
        </ion-toolbar>
      </ion-col>
    </ion-row>

    <ion-grid>

      <!-- Teachers wasn't found -->
      <ion-row text-center *ngIf="teachers.length == 0">
        <ion-col col-12>
          <b>Not even single teacher was found, sorry.</b>
        </ion-col>
      </ion-row>

      <!-- List of teachers -->
      <div *ngFor="let teacher of teachers; let i = index;">
        <ion-card (click)="expandTeacherInformation(i);">

          <!-- Image and Favorite and All Personal Details -->
          <ion-row>
            <ion-col col-6 class="m-padding-top-10px">
              <!-- Name -->
              <h1>
                <b>{{teacher.firstName}} {{teacher.lastName}}</b>
              </h1>
              <!-- price -->
              <h5 class="m-padding-top-3px">
                <b>Price:</b>
                <i>{{teacher.priceFrom}} - {{teacher.priceTo}}</i>
                <font class="m-font-size-10px">ILS</font>
              </h5>
              <!-- Rate -->
              <h5 class="m-padding-top-3px">
                <b>Rating:</b>
                <font *ngIf="teacher.recommendations.length === 1">
                  <i>( {{teacher.recommendations.length}} person )</i>
                </font>
                <font *ngIf="teacher.recommendations.length !== 1">
                  <i>( {{teacher.recommendations.length}} people )</i>
                </font>
              </h5>
              <!-- Stars -->
              <h6 class="m-padding-top-3px m-font-size-0-impo">
                <rating [(ngModel)]="teachers[i].rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                  starIconName="star" nullable="false"></rating>
              </h6>
            </ion-col>
            <ion-col *ngIf="teacher.image == null" col-5 text-right>
              <img class="m-default-image-cards-teacherlist" src="assets\\imgs\\imageNotFound.jpg" />
            </ion-col>
            <ion-col *ngIf="teacher.image != null" col-5 text-right>
              <img class="m-default-image-cards-teacherlist" src="{{teacher.image}}" />
            </ion-col>
            <ion-col *ngIf="teacher.isTeacherFavorited" col-1 text-right>
              <ion-icon name="ios-bookmark-outline" class="m-font-size-35px"></ion-icon>
            </ion-col>
          </ion-row>

          <!-- Message -->
          <ion-row>
            <ion-col col-12>
              <b>Message:</b>
              {{teacher.personalMessage}}
            </ion-col>
          </ion-row>

          <!-- Click to see more details -->
          <ion-row text-center>
            <ion-col col-12>
              <font class="m-color-midnightblue m-font-size-13px">
                <i>* Click on the card to see more details *</i>
              </font>
            </ion-col>
          </ion-row>

        </ion-card>
      </div>

    </ion-grid>

  </div>

</ion-content>