page-home {
  .m-color-24292e {
    color: #24292e;
  }
  .m-background-2b3137 {
    background: #2b3137
  }
  .m-color-white {
    color: white;
  }
  .m-margin-top0 {
    margin-top: 0;
  }
  .m-color-white {
    color: white;
  }
}

