rate-show {
  ul {
    padding: 0px;
    &.rating li {
      padding: 2px 1px 0 1px !important;
      background: none;
      color: #ffb400;
      ion-icon {
        font-size: 15px;
      }
    }
  }
}

