// http://ionicframework.com/docs/theming/
// ion-header ion-icon.back-button-icon.icon {
//   color: map-get($colors, white);
// }

ion-header ion-icon.back-button-icon.icon,
ion-header span.back-button-text.back-button-text-ios {
  color: white;
}

.toolbar-background {
  background-color: #24292e;
}

.m-color-24292e {
  color: #24292e;
}

.m-background-2b3137 {
  background: #2b3137
}

.m-color-white {
  color: white;
}

.m-margin-top0 {
  margin-top: 0;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

