// Default - Start
ion-header ion-icon.back-button-icon.icon,
ion-header span.back-button-text.back-button-text-ios {
  color: white;
}

ul {
  padding: 0px;
  &.rating li {
    padding: 3px 5px !important;
    background: none;
    color: #ffb400;
    ion-icon {
      font-size: 25px;
    }
  }
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}

// Default - End
// Colors
.m-color-white {
  color: white;
}

.m-color-orange {
  color: orange;
}

.m-color-red {
  color: red;
}

.m-color-midnightblue {
  color: midnightblue;
}

.m-color-c2bbbb {
  color: #c2bbbb;
}

.m-color-24292e {
  color: #24292e;
}

.m-color-f5ae08 {
  color: #f5ae08;
}

.m-color-586069 {
  color: #586069;
}

.m-color-1ab81a {
  color: #1ab81a;
}

// Backgrounds
.toolbar-background {
  background-color: #24292e;
}

.m-background-2b3137 {
  background: #2b3137
}

// Margins
.m-margin-top0 {
  margin-top: 0;
}

// Fonts
.m-font-size-43px {
  font-size: 43px;
}

.m-font-size-38px {
  font-size: 38px;
}

.m-font-size-35px {
  font-size: 35px;
}

.m-font-size-30px {
  font-size: 30px;
}

.m-font-size-25px {
  font-size: 25px;
}

.m-font-size-20px {
  font-size: 20px;
}

.m-font-size-17px {
  font-size: 17px;
}

.m-font-size-15px {
  font-size: 15px;
}

.m-font-size-13px {
  font-size: 13px;
}

.m-font-size-11px {
  font-size: 11px;
}

.m-font-size-10px {
  font-size: 10px;
}

.m-font-weight-300 {
  font-weight: 300;
}

// Opacity
.m-opacity-6 {
  opacity: 0.6;
}

// Paddings
.m-padding-top-15px {
  padding-top: 15px;
}

.m-padding-buttom-15px {
  padding-bottom: 15px;
}

.m-padding-left-7px {
  padding-left: 7px;
}

// General
.m-width-150px {
  width: 150px;
}

.m-width-100-percent {
  width: 100%;
}

.m-border-bottom-1px-solid-b18b22 {
  border-bottom: 1px solid #b18b22;
}

// Images
.m-default-image-cards-favorite {
  max-height: 116px;
  height: 116px;
  width: 116px;
  max-width: 116px;
}

.m-default-image-cards-teacherlist {
  max-height: 165px;
  height: 165px;
  width: 165px;
  max-width: 165px;
}

.m-default-image-cards-singleteacher {
  max-height: 150px;
  height: 150px;
  width: 150px;
  max-width: 150px;
}

// Display
.m-display-none {
  display: none;
}

.m-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.m-full-width {
  width: 100%;
}

