<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="m-color-white">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <font class="m-color-white">Hey {{this.profileProvider.profile.firstName}}</font>
    </ion-title>
    <ion-buttons *ngIf="this.profileProvider.profile.role === 2" end icon-only class="m-color-white">
      <div (click)="navigationer.navigateToPage(pageEnum.Admin)">
        <ion-icon name="ios-unlock-outline"></ion-icon>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- User + Teacher Header of tabs -->
  <ion-row>
    <ion-col col-12>
      <ion-segment [(ngModel)]="currentChosenTab">
        <ion-segment-button value="1" class="m-font-size-10px-impo">
          User
        </ion-segment-button>
        <ion-segment-button value="2" class="m-font-size-10px-impo">
          Teacher
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- User data -->
  <ion-row *ngIf="currentChosenTab === '1'">
    <!-- Edit and Save buttons -->
    <ion-col col-12>
      <button ion-button outline icon-start small color="dark" (click)="toggleDisabledAuth()" *ngIf="this.authDisabledBoolean === true">
        <ion-icon name="ios-brush-outline"></ion-icon>
        Edit
      </button>
      <button ion-button outline icon-start small color="dark" (click)="toggleDisabledAuth()" *ngIf="this.authDisabledBoolean === false">
        <ion-icon name="md-checkmark"></ion-icon>
        Save
      </button>
    </ion-col>
    <!-- First Name -->
    <ion-col col-6>
      <mat-form-field class="m-full-width">
        <input type="text" maxlength="24" [disabled]="this.authDisabledBoolean" matInput placeholder="First Name" [(ngModel)]="this.profileProvider.profile.firstName">
      </mat-form-field>
    </ion-col>
    <!-- Last Name -->
    <ion-col col-6>
      <mat-form-field class="m-full-width">
        <input type="text" maxlength="24" [disabled]="this.authDisabledBoolean" matInput placeholder="Last Name" [(ngModel)]="this.profileProvider.profile.lastName">
      </mat-form-field>
    </ion-col>
    <!-- Email -->
    <ion-col col-12>
      <mat-form-field class="m-full-width">
        <input type="text" maxlength="24" [disabled]="this.authDisabledBoolean" matInput placeholder="Email" [(ngModel)]="this.profileProvider.profile.email">
      </mat-form-field>
    </ion-col>
  </ion-row>

  <!-- Teacher data -->
  <ion-row *ngIf="currentChosenTab === '2'">
    <ion-col col-12>
      {{this.teacher | json}}
    </ion-col>
    <!-- Edit and Save buttons -->
    <ion-col col-12>
      <button ion-button outline icon-start small color="dark" (click)="toggleDisabledTeacher()" *ngIf="this.teacherDisabledBoolean === true">
        <ion-icon name="ios-brush-outline"></ion-icon>
        Edit
      </button>
      <button ion-button outline icon-start small color="dark" (click)="toggleDisabledTeacher()" *ngIf="this.teacherDisabledBoolean === false">
        <ion-icon name="md-checkmark"></ion-icon>
        Save
      </button>
    </ion-col>
    <!-- First Name -->
    <ion-col col-6>
      <mat-form-field class="m-full-width">
        <input type="text" maxlength="24" [disabled]="this.teacherDisabledBoolean" matInput placeholder="First Name" [(ngModel)]="this.teacher.firstName">
      </mat-form-field>
    </ion-col>
    <!-- Last Name -->
    <ion-col col-6>
      <mat-form-field class="m-full-width">
        <input type="text" maxlength="24" [disabled]="this.teacherDisabledBoolean" matInput placeholder="Last Name" [(ngModel)]="this.teacher.lastName">
      </mat-form-field>
    </ion-col>
    <!-- Age -->
    <ion-col col-6>
      <mat-form-field class="m-full-width">
        <input type="text" maxlength="24" [disabled]="this.teacherDisabledBoolean" matInput placeholder="Age" [(ngModel)]="this.teacher.age">
      </mat-form-field>
    </ion-col>
    <!-- Phone Number -->
    <ion-col col-6>
      <mat-form-field class="m-full-width">
        <input type="text" maxlength="24" [disabled]="this.teacherDisabledBoolean" matInput placeholder="Phone Number" [(ngModel)]="this.teacher.phone">
      </mat-form-field>
    </ion-col>
  </ion-row>

</ion-content>