<ion-header>
  <ion-navbar text-center>
    <ion-title>
      <font class="m-color-white">Favorites</font>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Gray area -->
  <div padding text-center class="m-background-2b3137 m-margin-top0 m-color-white">

    <ion-grid>

      <!-- Title -->
      <ion-row text-center>
        <ion-col col-12>
          <font class="m-color-white m-font-size-35px m-font-weight-300">Favorites</font>
        </ion-col>
      </ion-row>

      <!-- Subtitle -->
      <ion-row>
        <ion-col col-12>
          This is all the favorites teachers you've saved, you can manage all your teachers here and save them for the future.
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <!-- White area -->
  <div>

    <ion-grid>

      <!-- No favorites case -->
      <div *ngIf="!userHaveFavorites">
        <!-- No teachers as favorites text -->
        <ion-row text-center>
          <ion-col col-12>
            You have none in your favorite list.
          </ion-col>
        </ion-row>

        <!-- Search for teachers button -->
        <ion-row text-center>
          <ion-col col-12>
            <button ion-button icon-start outline (click)="goPage('search');">
              <ion-icon name="ios-search"></ion-icon>
              Search for teacher
            </button>
          </ion-col>
        </ion-row>
      </div>

      <!-- There are teachers in favorites list -->
      <div *ngIf="userHaveFavorites">

        <ion-row>
          <ion-col col-6 class="animated zoomIn" *ngFor="let teacher of teachers;let i = index;">
            <ion-card (click)="expandTeacherInformation(i);" text-center>
              <!-- Image -->
              <ion-col col-12 class="m-padding-0-impo" *ngIf="teacher.image == null">
                <img class="m-default-image-cards" src="assets\\imgs\\imageNotFound.jpg" />
              </ion-col>
              <ion-col col-12 class="m-padding-0-impo" *ngIf="teacher.image != null">
                <img class="m-default-image-cards-favorite" src="{{teacher.image}}" />
              </ion-col>

              <!-- Name and Last Name-->
              <ion-col col-12>
                <h2><b>{{teacher.firstName}} {{teacher.lastName}}</b></h2>
              </ion-col>
              <!-- Price -->
              <ion-col col-12 class="m-padding-0-impo">
                <h2>
                  <i>{{teacher.priceFrom}} - {{teacher.priceTo}}</i>
                  <font class="m-font-size-10px">ILS</font>
                </h2>
              </ion-col>
              <!-- Rate -->
              <ion-col col-12 class="m-padding-0-impo">
                  <rate-show [stars]="teachers[i].rate"></rate-show>
              </ion-col>
            </ion-card>
          </ion-col>
        </ion-row>

      </div>

    </ion-grid>

  </div>

</ion-content>