<ion-header>
  <ion-navbar text-center>
    <ion-title>
      <font class="m-color-white">Favorites</font>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Gray area -->
  <div padding text-center class="m-background-2b3137 m-margin-top0 m-color-white">

    <ion-grid>

      <!-- Title -->
      <ion-row text-center>
        <ion-col col-12>
          <font class="m-color-white m-font-size-35px m-font-weight-300">Favorites</font>
        </ion-col>
      </ion-row>

      <!-- Subtitle -->
      <ion-row>
        <ion-col col-12>
          This is all the favorites teachers you've saved, you can manage all your teachers here and save them for the future.
        </ion-col>
      </ion-row>

      <!-- Tip -->
      <ion-row>
        <ion-col col-12>
          <font class="m-color-orange">*Tip: </font>
          In order to keep your teachers quickly accessed, do not remove StudyHub cache from your app.
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

  <!-- White area -->
  <div>

    <ion-grid>

      <!-- No favorites case -->
      <div *ngIf="!userHaveFavorites">
        <!-- No teachers as favorites text -->
        <ion-row text-center>
          <ion-col col-12>
            You have none in your favorite list.
          </ion-col>
        </ion-row>

        <!-- Search for teachers button -->
        <ion-row text-center>
          <ion-col col-12>
            <button ion-button icon-start outline (click)="goPage('search');">
              <ion-icon name="ios-search"></ion-icon>
              Search for teacher
            </button>
          </ion-col>
        </ion-row>
      </div>

      <!-- There are teachers in favorites list -->
      <div *ngIf="userHaveFavorites">
        <ion-row>
          <ion-col col-6 class="animated zoomIn" *ngFor="let teacher of teachers;let i = index;">
            <ion-card (click)="expandTeacherInformation(i);">
              <!-- Name -->
              <ion-card-header>
                {{teacher.firstName}} {{teacher.lastName}}
              </ion-card-header>
              <ion-card-content>
                <!-- Image -->
                <ion-col col-12>
                  <img src="assets\\imgs\\imageNotFound.jpg" />
                </ion-col>
                <!-- Price -->
                <ion-col col-12>
                  <i>{{teacher.priceFrom}} - {{teacher.priceTo}}</i>
                  <font class="m-font-size-10px">ILS</font>
                </ion-col>
                <!-- Rate -->
                <ion-col col-12>
                  <rating [(ngModel)]="teachers[i].rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                    starIconName="star" nullable="false"></rating>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </div>

    </ion-grid>

  </div>

</ion-content>